/* @override http://add.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-preface.css?malf5d */

/* Preface */
#section-content .zone-wrapper #zone-preface .region-inner {
  padding: 20px;
}
#zone-preface .block .content {
  color: #868686;
}
#zone-preface .block .content strong {
  color: #414141;
}

#zone-preface-wrapper {
}

/* Hide on interior pages */
=======
/* Hide on interior pages */
.not-front #zone-preface-wrapper {
  display: none;
}
