/* @override http://add.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-content.css?mbdwod */

/* Content */
#section-content {
	background: #ffeab0; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWFiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffeab0 0%, #ffffff 60%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffeab0), color-stop(60%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffeab0 0%,#ffffff 60%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffeab0 0%,#ffffff 60%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffeab0 0%,#ffffff 60%); /* IE10+ */
background: linear-gradient(to bottom,  #ffeab0 0%,#ffffff 60%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeab0', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

#section-content .section-wrapper {
}

#section-content .zone-wrapper {
}

#section-content .zone-wrapper .zone {
}
#section-content .zone-wrapper > .separator {
}
#section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 20px;
}

/* Sidebars */

/* Gradient ##### 
background: #ffffff;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmVhYjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffeab0 50%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(50%,#ffeab0));
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffeab0 50%);
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffeab0 50%);
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffeab0 50%);
background: radial-gradient(ellipse at center,  #ffffff 0%,#ffeab0 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffeab0',GradientType=1 );

*/
#section-content #region-sidebar-first,
#section-content #region-sidebar-second {

}
#section-content #region-sidebar-first .region-inner,
#section-content #region-sidebar-second .region-inner {

  height: 100%;
  padding: 20px;
}
#section-content #region-sidebar-first > .separator,
#section-content #region-sidebar-second > .separator {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(212,212,212,0.98) 49%, rgba(213,213,213,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(212,212,212,0.98)), color-stop(50%,rgba(213,213,213,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
#section-content #region-sidebar-first > .separator {
  right: 0;
}
#section-content #region-sidebar-first .region-inner {
  padding-right: 30px;
}
#section-content #region-sidebar-second > .separator {
  left: 0;
}
#section-content #region-sidebar-second .region-inner {
  padding-left: 30px;
}