/* @override http://shs.loc/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?m67bl9 */

/* This file will hold styles that are loaded using the same media query as the normal grid. */

#logo {
  width: 250px;
}

/* Search Form */
#block-search-form {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
  width: 300px;
  z-index: 1;
}