<<<<<<< HEAD
/* @override http://add.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?macqsw */

=======
>>>>>>> 7ea3841476932c9f97e3ab3fd0ccf15bc2285d0e
/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first,
#region-user-second {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
<<<<<<< HEAD
  float: right;
=======
  width: 50%;
>>>>>>> 7ea3841476932c9f97e3ab3fd0ccf15bc2285d0e
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}
<<<<<<< HEAD


/* @group Block Menu */

#block-system-main-menu ul.menu li {
	float: left;
}




/* @end */
=======
>>>>>>> 7ea3841476932c9f97e3ab3fd0ccf15bc2285d0e
