/* @override 
	http://add.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-branding.css?macqsw
	http://add.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-branding.css?malf5d
*/

/* Branding */
#zone-branding-wrapper {
background: #ffb700;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UwOTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjg5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffb700 0%, #e09500 50%, #cf8900 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb700), color-stop(50%,#e09500), color-stop(100%,#cf8900));
background: -webkit-linear-gradient(top,  #ffb700 0%,#e09500 50%,#cf8900 100%);
background: -o-linear-gradient(top,  #ffb700 0%,#e09500 50%,#cf8900 100%);
background: -ms-linear-gradient(top,  #ffb700 0%,#e09500 50%,#cf8900 100%);
background: linear-gradient(to bottom,  #ffb700 0%,#e09500 50%,#cf8900 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#cf8900',GradientType=0 );
	}
#zone-branding {
  position: relative;
}
#region-branding {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#region-branding .region-inner {
  padding: 20px; min-height: 37px;
}

.logo-img {
  margin: 0;
  text-align: center;
}

#logo {
	position: absolute;
	top: 0;
}

/* Search Form */
#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}
