/* @override 
	http://hilton.loc/sites/all/themes/navin/css/prolifik-menu.css?m5bgn5
	http://hilton.loc/sites/all/themes/navin/css/prolifik-menu.css?m5cpcl
	http://btcv.biz/sites/all/themes/prolifik/css/prolifik-menu.css?m5f2cd
	http://hi-express.loc/sites/all/themes/navin/css/prolifik-menu.css?m5pnkk
*/

/* Menu */

#zone-menu {
  min-height: 30px;
  z-index: 10;
  }

#zone-menu-wrapper {
	-webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;
	position: relative;
	z-index: 999;
	background: rgb(14,60,122); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlM2M3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYwYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(14,60,122,1) 0%, rgba(0,96,193,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,60,122,1)), color-stop(100%,rgba(0,96,193,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3c7a', endColorstr='#0060c1',GradientType=0 ); /* IE6-8 */

}
#region-menu .region-inner {
  margin: 0 -10px;
}
#region-menu nav > ul.menu > li {
  background: none;
  float: none;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
  display: block;
text-align: center;
}
#region-menu nav > ul.menu > li.last {
  margin: 0;
}
#region-menu nav > ul.menu > li > a,
#region-menu nav > ul.menu > li > a:link,
#region-menu nav > ul.menu > li > a:visited {
  color: #fff;
}
#region-menu nav > ul.menu > li > a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

#region-menu nav > ul.menu > li:hover > a,
#region-menu nav > ul.menu > li.hover > a {
  background: rgba(255,255,255,.2);
}

/* Drop Down Menus */
#region-menu nav > ul.menu > li ul,
#region-menu nav > ul.menu > li .view {
  display: none;
}
#region-menu nav > ul.menu > li:hover ul,
#region-menu nav > ul.menu > li:hover .view,
#region-menu nav > ul.menu > li.hover ul,
#region-menu nav > ul.menu > li.hover .view {
  display: block;
  position: absolute;
}

/* Secondary Menu */
#region-menu nav.navigation-secondary {
  float: right;
  position: relative;
  top: 7px;
}
#region-menu nav.navigation-secondary ul.menu > li > a {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
}